:root {
  --primary: #ef9273;
  --secondary: #0d0d0d;
  --background: #fef9f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .projectContent {
    flex-wrap: wrap;
    justify-content: center;
  }
}

body {
  max-width: 95%;
  margin: auto;
  margin-top: 0;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--secondary);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fef9f8;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  padding: 0rem 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--secondary);
}

nav h4 {
  font-weight: bold;
  color: var(--primary);
}

.active {
  font-weight: bold;
  color: var(--primary);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem;
  height: calc(100vh - 53px);
}

header img {
  height: 300px;
  display: block;
}

section {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

section h2 {
  text-align: center;
}

.button {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
}

section a {
  text-decoration: none;
  text-align: center;
  background-color: var(--background);
  color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

table {
  border: none;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

td img {
  width: 64px;
}

p {
  padding: 1rem;
}

h1 {
  margin: auto;
}

hr {
  max-width: 90%;
  margin: auto;
}

.projectTitle {
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.6rem;
  padding-top: none;
  color: #2d2f78;
}

.mark-label {
  align-items: left;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
  padding: 0.3rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.1em solid var(--secondary);
  display: inline-block;
}

section p {
  color: var(--secondary);
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}

.buttons {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: inline-block;
}

.primary {
  background-color: var(--primary);
  color: var(--background);
}

#about {
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
}

#skills {
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
}

.skill-title {
  padding-left: 2rem;
  padding-right: 2rem;
}

#projects {
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
}

#blogs {
  background-color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
}

#my-projects {
  padding: 0.6rem;
  text-align: center;
  color: #2d2f78;
}

.mark {
  color: var(--primary);
  padding: 1rem 2rem;
  text-align: justify;
  border-radius: 1rem;
  border: 0.2em solid var(--primary);
  margin: auto;
  margin-top: 1.5rem;
  max-width: 85%;
}

.footer {
  align-content: center;
  padding: 1rem;
  bottom: 0%;
  position: scroll;
}

.social-container {
  margin-top: 0rem;
  flex-direction: column;
  align-content: center;
}

.social-icons {
  padding: 0rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
